* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23252C;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container {
  width: 400px;
  background-color: #1A1B21;
  border-radius: 6px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container > h1 {
  margin-bottom: 0;
}

.info-container > p {
  margin-bottom: 0;
}

.info-container > img {
  border-radius: 6px 6px 0 0;
}

.buttons-container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.email-button {
  /* Button */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;

  width: 140px;
  height: 40px;

  /* white */

  background: #FFFFFF;
  /* gray/300 */

  border: 1px solid #D1D5DB;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 6px;

  font-size: 20px;
}

.linkedin-button {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;

  width: 140px;
  height: 40px;

  background: #5093E2;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 6px;

  font-size: 20px;
}

.about-container {
  margin: 50px;
}

.interests-container {
  margin: 50px;
}

.footer-container {
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 6px 6px;
}